{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<table>
        <tr>
                <td> {{ form_label(form, "Nom",{'attr': { 'style': 'color: blue;'}}) }} </td>
                <td>  {{ form_widget(form.nom, { 'attr': {'class': 'foo'} }) }} </td>  
                <td> {{ form_errors(form.nom) }} </td>
                        
        </tr>
        <tr>
                <td> {{ form_label(form,"Prenom")  }} </td>
                <td>  {{ form_widget(form.prenom) }} </td>  
                <td> {{ form_errors(form.prenom) }} </td>
        </tr>

        <tr>
                <td> {{ form_label(form,"Email")  }} </td>
                <td>  {{ form_widget(form.email) }} </td>  
                <td> {{ form_errors(form.email) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Telephone")  }} </td>
                <td>  {{ form_widget(form.telephone) }} </td>  
                <td> {{ form_errors(form.telephone) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Adresse")  }} </td>
                <td>  {{ form_widget(form.adresse) }} </td>  
                <td> {{ form_errors(form.adresse) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Ville")  }} </td>
                <td>  {{ form_widget(form.ville) }} </td>  
                <td> {{ form_errors(form.ville) }} </td>
        </tr>

        <tr>
                <td> {{ form_label(form,"Code Postal")  }} </td>
                <td>  {{ form_widget(form.code_postal) }} </td>  
                <td> {{ form_errors(form.code_postal) }} </td>
        </tr>

        <tr>
                <td> {{ form_label(form,"Pays")  }} </td>
                <td>  {{ form_widget(form.pays) }} </td>  
                <td> {{ form_errors(form.pays) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Etat")  }} </td>
                <td>
                        {{ form_widget(form.etat, {'attr': {'class': 'form-control'}, 'label_attr': {'class': 'form-check-label radio-inline'}, 'widget_type': 'inline'}) }}
                </td>

                <td> {{ form_errors(form.etat) }} </td>

        </tr>
        
        <tr>
                <td>
                 {{ form_label(form,"Role")  }} </td>
                <td>
                        {{ form_widget(form.role, {'attr': {'class': 'form-control custom-select'}, 'widget_type': 'choice'}) }}

                 </td>
                <td> {{ form_errors(form.role) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Username")  }} </td>
                <td>  {{ form_widget(form.username) }} </td>  
                <td> {{ form_errors(form.username) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"Password")  }} </td>
                <td>  {{ form_widget(form.password) }} </td>  
                <td> {{ form_errors(form.password) }} </td>
        </tr>
       <tr>
                <td> {{ form_label(form,"CreatedAt")  }} </td>
                <td>  {{ form_widget(form.created_at) }} </td>  
                <td> {{ form_errors(form.created_at) }} </td>
        </tr>
        <tr>
                <td> {{ form_label(form,"UpdateAt")  }} </td>
                <td>  {{ form_widget(form.updated_at) }} </td>  
                <td> {{ form_errors(form.updated_at) }} </td>
        </tr>
        
</table>
   
    <br>
    <button class="btn btn-success btn-lg"><i class="fa fa-download"></i>{{ button_label|default(' Save') }}</button> 
    <a class="btn btn-primary btn-lg" href="{{ path('app_users_index') }}"><i class="fa fa-home"></i> back</a>

{{ form_end(form) }}
